footer {
    display: flex;
    justify-content: space-between;
    background: var(--common-footer-bg);
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    margin-top: auto;
    /*position: absolute; */
    bottom: 0;
}

#asari-web {
    display: flex;
    align-items: center;
    background: transparent;
}

#asari-web>svg {
    fill: var(--text);
    max-width: 100%;
    aspect-ratio: 181 / 48;
}

#asari-links {
    display: flex;
    align-items: center;
}

#asari-links>nav>ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin: 0;
    flex-direction: row;
}

.FooterLinkButton,
.FooterLinkButton:hover {
    display: flex;
    gap: 0.5em;
    align-items: center;
    background: transparent;
    color: var(--thin-text);
    padding: 0;
    font-weight: 500;
}

.FooterLinkButton>svg {
    fill: var(--text);
}

@media (max-width: 700px) {
    footer {
        flex-direction: column;
        gap: 1em;
    }

    #asari-links>nav>ul {
        flex-direction: column;
        gap: 1.75em;
    }
}